<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>My Node App</title>
</head>

<body>
  <h1>My Node App</h1>

  <a href='/signup'>Sign Up!</a>
  
  <h4>Users:</h4>
  <ul>
    <% users.forEach(function(user) { %>
      <ol>
        <li>
          <%= user.username %>
          <%= user.password %>
        </li>
      </ol>  
      <% }); %>
  </ul>
</body>

</html>